#calculator{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
}

#display, #keyBoard{
    width: 90%;
}

#display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#display input{
    width: 90%;
    height: 3rem;
    font-size: 2rem;
    border: inset 2px #333333;
    color: #111111;
    font-family: Tahoma;
    padding-right: 6px;
    text-align: right;
}

#keyBoard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.5rem;
}

#keyBoard button{
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    margin: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.operator{
    background: radial-gradient(#00CED1, #AFEEEE);
    color: #FFFFFF;
}

.number{
    background: radial-gradient(#F4F4F4, #CDCDCD);
    color: #000000;
}