#calculator{
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
    background: linear-gradient(#2E8B57, #5F9EA0);
    border-radius: 8px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.5), 0 12px 15px rgba(0, 0, 0, 0.5);
    position: relative;
    max-width: 520px;
}

#display, #keyBoard{
    width: 90%;
}

#display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#display input{
    width: 90%;
    height: 3rem;
    font-size: 2rem;
    border: none;
    color: #111111;
    font-family: Tahoma;
    padding-right: 6px;
    text-align: right;
    background-color: #F4F4F4;
    border-radius: 0;
}

#display button{
    height: 3.1rem;
    outline: none;
    border: none;
    border-radius: 0 5px 5px 0;
    background: radial-gradient(#C21500, #FFC500);
    cursor: pointer;
    color: #FFFFFF;
}

#display button:hover{
    background: radial-gradient(#B10400, #EEB400);
}

#keyBoard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.5rem;
}

#keyBoard button{
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    margin: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5), 0 3px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.operator{
    background: radial-gradient(#00CED1, #AFEEEE);
    color: #FFFFFF;
}

.operator:hover{
    background: radial-gradient(#00BDE0, #9EDDDD);
}

.number{
    background: radial-gradient(#F4F4F4, #CDCDCD);
    color: #000000;
}

.number:hover{
    background: radial-gradient(#E3E3E3, #BCBCBC);
}